CompileFlags:
  Add:
    - --target=aarch64-linux-gnu
    - -ffreestanding
    - -nostdlib
    - -nostartfiles
    - -mgeneral-regs-only
    - -DUSE_QEMU
    - -Iinclude
  Compiler: clang

Index:
  Background: Build

---
If:
  PathMatch: .*\.S

CompileFlags:
  Add:
    - -x
    - assembler-with-cpp
